doctype 5
html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="PRAGMA" content="NO-CACHE")
    title Build Monitor
    link(rel="shortcut icon" href="images/Icon.ico")
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    script(src='js/lib/jquery/jquery.min.js').
    script(src='js/JavascriptUtilities.js').
    script(src='js/lib/bootstrap/bootstrap.js').
    script(src='js/lib/momentjs/moment.min.js').
    script(src='js/lib/angular/angular.js').
    script(src='js/lib/angular-momentjs/angular-momentjs.min.js').
    script(src='js/lib/angular/angular-route.js').
    script(src='js/app.js').
    script(src='js/controllers/controller.js').
    script(src='js/services/fileListService.js').
    style.
      .inline-headers h5{
        display: inline-block;
        vertical-align: baseline;
        padding-right: 3px;
      }
      .navbar-brand{
        padding-bottom:2px;
      }
  body(ng-app='nodeApp' ng-controller="controller")
    nav.navbar.navbar-default
      .container
        .navbar-brand Build Monitor
          .inline-headers
            h5 Total: {{Display.Count.All}} 
            h5 Success: {{Display.Count.Success}} 
            h5 Fail: {{Display.Count.Fail}} 
        h5.pull-right {{Display.Run}}
    .container
      div.col-sm-4 TODAY
        hr
        div Average 
          span {{Display.Today.Average}}
        div Queue 
          span {{Display.Today.Queue}}
        div Success {{Display.Today.Success}}
        div Fail {{Display.Today.Fail}}
      div.col-sm-4 YESTERDAY
        hr
        div Average 
          span {{Display.Yesterday.Average}}
        div Queue 
          span {{Display.Yesterday.Queue}}
        div Success {{Display.Yesterday.Success}}
        div Fail {{Display.Yesterday.Fail}}
      div.col-sm-4 WEEK
        hr
        div Average 
          span {{Display.Week.Average}}
        div Queue 
          span {{Display.Week.Queue}}
        div Success {{Display.Week.Success}}
        div Fail {{Display.Week.Fail}}